body{
    background-color: #F9F3EE;
}

hr {
    background-color: #B3E8E5;
    border-style: dotted none none;
    height: 2px;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #764AF1;
    font-family: Franklin Gothic Medium;
}

h3{
    color: #764AF1;
    font-family: Franklin Gothic Medium;
}

li{
    font-family: Comic Sans;
}

p{
    font-family: Comic Sans;
}

th{
    font-family: Comic Sans;
}

td{
    font-family: Comic Sans;
}